body {
    font-family: Arial;
    margin: 0;
    text-align: center;
}

.login-bg {
    background: linear-gradient(to right, #00b09b, #96c93d);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-bg {
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: white;
    padding: 20px;
}

.login-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
}

.login-box input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    color: black;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
}

.card img {
    width: 100%;
    height: 150px;
}

.cart-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: orange;
    color: white;
    text-decoration: none;
}